* {
  box-sizing: border-box;
  font-family: "Diphylleia", serif;
}

body {
  margin: 0 auto;
}

.hero-main-page {
  background-image: url(/img/Weybrooke\ Park.webp);
  background-size: cover;
  height: 100vh;
}
.hero-main-page p {
  background-color: rgba(184, 221, 249, 0.8);
  padding: 5px;
  margin: 50px auto;
  width: 70%;
}
h1 {
  font-family: "Meddon", cursive;
  font-size: 90px;
  text-align: center;
  margin-bottom: 0;
}
h2 {
  text-align: center;
  margin-top: 0;
}
p {
  font-size: 20px;
  padding: 50px;
}
/* dark blue #4F96D9 
light blue #C0E1F6
*/
.nav {
  top: 0;
  width: 100%;
  background-color: #4c5f23;
  position: fixed;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #c0e1f6;
  padding: 10px 10px 10px 10px;
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  /* float: right; */

  font-size: 18px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #c0e1f6;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.main img {
  width: 50%;
}
.box-1 {
  display: flex;
}
.box-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.box-2 img {
  margin: 10px auto;
}

/* Small devices (mobile phones, 0 and up) */
/* No media query since this is the default in Foundation */

/* Medium devices (tablets, 640px and up) */
@media only screen and (max-width: 640px) {
  h1 {
    font-size: 55px;
  }
  h2 {
    font-size: 1.3em;
  }
  p {
    font-size: 15px;
  }
  .box-1 img {
    width: 30%;
  }
}

.footer p {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #c0e1f6;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 0px;
}
/* Large devices (desktops, 1024px and up) /
@media only screen and (min-width: 1024px) { ... }

/* Extra large devices (large desktops, 1200px and up) 
@media only screen and (min-width: 1200px) { ... }
*/

/* XXLarge devices (larger desktops, 1440px and up) 
@media only screen and (min-width: 1440px) { ... }
*/

/* ABOUT  PAGE*/
.main-about-me {
  background-image: url(/img/Dancing\ Fuchsia_edited_edited_edited_edi.jpg);
  background-size: cover;
}
.main-about-me h1 {
  margin: 0px;
  font-size: 80px;
}
.about-me-h2 {
  width: 60%;
  margin: auto;
  background-color: #ffffffa5;
}
.about-me-info {
  display: flex;
  margin: 50px auto;
  width: 60%;
}

.about-me-text p {
  padding: 5px;
  font-size: 17px;
  background-color: #ffffffa5;
}
.about-me-img img {
  width: 450px;
  padding: 5px;
}
.main-bg {
  background-color: #ffffff86;
}
#order-link {
  border: 2px solid black;
  padding: 15px 20px;
  border-radius: 30px;
  /* border-radius: 80% 20%; */
  font-size: 20px;
  color: black;
  background-color: #c0e1f6;
  text-decoration: none;
  box-shadow: 10px 10px 25px 1px rgb(129, 119, 119);
  /* box-shadow: 10px 10px 25px 1px rgb(129, 119, 119); */
}
#order-link:hover {
  cursor: pointer;
  color: #333;
  background-color: rgb(208, 255, 167);
  box-shadow: 10px 10px 25px 1px rgb(204, 250, 148);
}
.button {
  margin: 35px 20px 20px;
  text-align: center;
}

/*  Commission artwork Page*/
form {
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.306);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
form input,
textarea {
  padding: 10px;
  margin: 5px;
  width: 80%;
}

.main-commission-artwork {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 100px 50px 50px;
}
.main-commission-artwork img {
  height: 30%;
  width: 30%;
  padding: 10px;
}

.main-commission-artwork p {
  padding: 0px 10px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.528);
}
.bg-img {
  background-image: url(/img/com-artwork-bg.webp);
  background-size: cover;
}
.contact-btn a {
  border: 2px solid black;
  padding: 15px 20px;
  border-radius: 30px;
  /* border-radius: 80% 20%; */
  font-size: 20px;
  color: black;
  background-color: #c0e1f6;
  text-decoration: none;
  box-shadow: 10px 10px 25px 1px rgb(129, 119, 119);
}
.contact-btn a:hover {
  color: #333;
  background-color: rgb(208, 255, 167);
  box-shadow: 10px 10px 25px 1px rgb(204, 250, 148);

  cursor: pointer;
}
.contact-btn {
  text-align: center;
}
/* Gallery */
.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  gap: 10px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 10px;
}
.media-element {
  display: grid;
  grid-template-rows: min-content;
  border-radius: 5px;
  padding: 15px;
  background: #c0e1f64e;
}

.media-element > img {
  inline-size: 100%;
  aspect-ratio: 1/1.3;
  object-fit: cover;
  border-radius: 5px;
}

.media-element p {
  padding: 0px;
  text-align: center;
  font-size: 15px;
}
