* {
  box-sizing: border-box;
  font-family: "Diphylleia", serif;
}
/* COLOR SCHEME */
:root {
  --blue-color: #0881a3;
  --white-color: #fffdfb;
  --nude-color: #fde9df;
  --peach-color: #ffd6a4;
  --footer-bg-color: #c0e1f6;
}

body {
  margin: 0 auto;
  background-color: var(--nude-color);
}

.hero-main-page {
  background-image: url(/img/Weybrooke\ Park.webp);
  background-size: cover;
  height: 100vh;
}
.hero-main-page p {
  background-color: rgba(184, 221, 249, 0.8);
  padding: 5px;
  margin: 50px auto;
  width: 70%;
}
.title {
  font-size: 90px;
}
h1 {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  font-size: 60px;
  text-align: center;
  margin: 15px auto 0px auto;
  padding-top: 55px;
}
h2 {
  text-align: center;
  margin-top: 0;
}
p {
  font-size: 20px;
  padding: 50px;
  text-align: center;
  width: 100%;
}
.nav {
  top: 0;
  width: 100%;
  /* background-color: var(--blue-color); */
  background-color: #333;
  position: fixed;
  z-index: 1;
}
.nav > .nav-header {
  display: inline;
}
.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #c0e1f6;
  padding: 10px 10px 10px 10px;
}
.nav > .nav-btn {
  display: none;
}
.nav > .nav-links {
  display: inline;
  font-size: 18px;
}
.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #c0e1f6;
}
.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.nav > #nav-check {
  display: none;
}
.active {
  color: var(--white-color) !important;
}
@media (max-width: 1040px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
.main img {
  width: 50%;
}
.box-1 {
  display: flex;
  justify-content: center;
}
.box-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.box-2 img {
  margin: 10px auto;
}
.footer p {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: var(--footer-bg-color);
  padding: 10px;
  font-size: 15px;
  margin-bottom: 0px;
}

/* ABOUT  PAGE*/

.main-about-me {
  background-image: url(/img/Dancing\ Fuchsia_edited_edited_edited_edi.jpg);
  background-size: cover;
}
.main-about-me h1 {
  font-size: 80px;
}
.main-about-me h2 {
  width: 60%;
  margin: auto;
  background-color: #ffffffa5;
}
.about-me-info {
  display: flex;
  margin: 50px auto;
  width: 60%;
}
.about-me-text p {
  padding: 5px;
  font-size: 17px;
  background-color: #ffffffa5;
}
.about-me-img img {
  width: 450px;
  padding: 5px;
}
.main-bg {
  background-color: #ffffff86;
}
#order-link {
  border: 2px solid black;
  padding: 15px 20px;
  border-radius: 30px;
  /* border-radius: 80% 20%; */
  font-size: 20px;
  color: black;
  background-color: #c0e1f6;
  text-decoration: none;
  box-shadow: 10px 10px 25px 1px rgb(129, 119, 119);
  /* box-shadow: 10px 10px 25px 1px rgb(129, 119, 119); */
}
#order-link:hover {
  cursor: pointer;
  color: #333;
  /* background-color: rgb(208, 255, 167); */
  background-color: var(--white-color);
  box-shadow: 10px 10px 25px 1px var(--white-color);
}
.button {
  margin: 35px 20px 20px;
  text-align: center;
}

/*  Commission artwork Page*/

.hidden {
  display: none;
}
.artwork-background {
  background-image: url(/img/artwork-bckg.jpeg);
  background-size: cover;
  height: 100vh;
}
.main-commission-artwork {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 80px 50px 30px;
  background-color: rgba(255, 255, 255, 0.479);
  border-radius: 5px;
}
.main-commission-artwork img {
  height: 30%;
  width: 30%;
  padding: 10px;
}
.main-commission-artwork p {
  padding: 10px 20px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.749);
  border-radius: 5px;
}
.contact-area {
  text-align: center;
  padding-bottom: 30px;
}
/* i have 2 div.contact-area on artwork page and contact page */
.contact-area img {
  background-color: var(--white-color);
  border-radius: 50%;
  padding: 10px;
  margin: 20px;
}
.contact-area img:hover {
  box-shadow: 30px 20px;
  color: #d3aaff;
  background-color: #e3d7f0e4;
}

/* Gallery */

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 23%;
  gap: 10px;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  padding: 10px;
}
.media-element {
  display: grid;
  grid-template-rows: min-content;
  border-radius: 5px;
  padding: 15px;
  background: #c0e1f64e;
  /* animation: scroll 100s linear infinite; */
}
/* @keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-4700px);
  }
} */
.media-element > img {
  inline-size: 100%;
  aspect-ratio: 1/1.3;
  object-fit: cover;
  border-radius: 5px;
}
.media-element p {
  padding: 0px;
  text-align: center;
  font-size: 15px;
}
.media-scroller2 {
  margin-bottom: 50px;
  justify-content: space-evenly;
}
.media-element2 {
  display: grid;
  grid-template-rows: min-content;
  border-radius: 5px;
  padding: 15px;
}
.media-element2 > img {
  width: 100%;
}
.gallery-main {
  background-color: #eff5f9;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  overscroll-behavior-y: contain;
}

/* GALLERY FOR SALE page*/

.gallery-sale-bg {
  background-color: var(--nude-color);
}
.gallery-sale-bg h1 {
  background-color: var(--peach-color);
  padding-top: 0px;
}
.gallery-sale-bg h2 {
  margin: 10px;
}
.gallery-sale-bg p {
  text-align: center;
  padding: 50px 50px 15px;
}
.accent-text {
  color: var(--blue-color);
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-auto-rows: 250px;
  justify-content: center;
  margin: 20px;
  gap: 20px 30px;
}
.container-animals {
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 50%;
  justify-content: center;
  margin: 20px;
  margin-bottom: 300px;
  gap: 20px 30px;
}
.container img,
.gallery-box-animals img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.container-jazz > div:first-child {
  grid-column: 1/2;
  grid-row: 1 /4;
}
.container-jazz > div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/3;
}
.container-jazz > div:nth-child(3) {
  grid-column: 2/3;
  grid-row: 3/4;
}
.container-jazz > div:last-child {
  grid-column: 3/4;
  grid-row: 2/4;
}
.container-abstract > div:first-child {
  grid-column: 1/2;
  grid-row: 1/2;
}
.container-abstract > div:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.container-abstract > div:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}
.container-abstract > div:nth-child(4) {
  grid-column: 2/3;
  grid-row: 1/3;
}
.container-abstract > div:last-child {
  grid-column: 3/4;
  grid-row: 2/4;
}
.container-portrait > div:first-child {
  grid-row: 1/3;
  grid-column: 1/2;
}
.container-portrait > div:last-child {
  grid-row: 1/3;
  grid-column: 3/4;
}

/* REVIEWS PAGE */

.reviews-main {
  background-color: var(--nude-color);
}
.grid-reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  text-align: center;
  margin-bottom: 30px;
}
.bkg {
  background-color: #f7e3c9;
}

/* CONTACT PAGE */

.contact-background {
  background-image: url(/img/contact-bckg.jpeg);
  background-size: cover;
  height: 100vh;
}
.contact-el a {
  text-decoration: none;
  font-size: 2em;
  color: var(--blue-color);
}
.contact-el a:hover {
  color: #30aed1;
}
.contact-main h3 {
  text-align: center;
  margin: 40px;
}
.instagram {
  text-align: center;
  margin: auto;
}
.instagram img {
  padding: 10px;
}

.instagram img:hover {
  cursor: pointer;
  box-shadow: 10px 10px;
  color: #d3aaff;
  background-color: #e3d7f0e4;
}

/* form {
  margin: 50px auto;
  background-color: rgba(255, 255, 255, 0.306);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}
form input,
textarea {
  padding: 10px;
  margin: 5px;
  width: 80%;
} */

/* Small devices (mobile phones, 0 and up) */
@media only screen and (max-width: 600px) {
  h1,
  .title {
    font-size: 45px;
  }
  h2 {
    font-size: 1.3em;
  }
  p {
    font-size: 15px;
  }
  .main img {
    width: 100%;
  }
  .main-about-me h1 {
    font-size: 40px;
    margin-top: 50px;
  }
  .main-about-me h2 {
    font-size: 15px;
  }
  .main-about-me p {
    font-size: 16px;
    margin: 5px;
  }
  .about-me-img img {
    width: 100%;
  }
  .about-me-info {
    flex-wrap: wrap;
    margin: 5px auto;
    width: 100%;
  }
  .footer-margin {
    margin-top: 100px;
  }
  .footer p {
    font-size: 12px;
  }
  .artwork-background {
    height: max-content;
  }
  .main-commission-artwork {
    flex-wrap: wrap;
    width: 100%;
  }
  .main-commission-artwork img {
    width: 100%;
  }
  .hidden {
    display: block;
    margin: auto;
  }
  .scroller {
    grid-template-columns: repeat(20, 150px);
  }
  .media-scroller2 {
    display: flex;
    flex-wrap: wrap;
  }
  .grid-reviews {
    display: flex;
    flex-wrap: wrap;
  }
  .nobkg {
    background-color: transparent;
  }
  .contact-background {
    background-position: center;
  }
  .contact-main a {
    font-size: 1em;
  }
  .contact-area img {
    inline-size: 70px;
    margin: 10px;
  }
  .gallery-sale-bg p {
    width: 100%;
    padding: 70px 10px 20px;
  }
  .container,
  .container-animals {
    display: flex;
    flex-wrap: wrap;
  }
  .container-animals {
    margin-bottom: 50px;
  }
  .hidden-mobile {
    display: none;
  }
  .gallery-sale-bg h1 {
    font-size: 25px;
    margin: auto;
    padding-top: 0px;
  }
  .contact-main h3 {
    margin: 0px;
  }
  .instagram img {
    padding: 10px;
    width: 70px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 840px) {
  .about-me-img img {
    width: 250px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1040px) {
  .about-me-info {
    width: 100%;
  }
  .main-commission-artwork {
    width: 100%;
  }
  .main-commission-artwork {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: max-content;
    margin-top: 50px;
    padding: 0px;
  }
  .main-commission-artwork img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  .hidden-mobile {
    display: none;
  }
  .review-box p {
    padding: 20px;
  }
  .gallery-box-jazz .hidden {
    display: block;
  }
}
